// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover {
    text-decoration: underline;
}

.jumbotron {
    margin-bottom: 1rem;
    background: #ffffff url(../media/pirate-ship.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Mali', cursive;
}

.byline {
    font-family: 'Mali', cursive;
}

.title {
    font-family: 'Mali', cursive;
}

.main {
    font-family: 'Mali', cursive;
}

